/Makefile.am
/alloca.c
/alloca.in.h
/btowc.c
/config.charset
/gettext.h
/langinfo.in.h
/localcharset.c
/localcharset.h
/malloc.c
/mbrtowc.c
/mbsinit.c
/nl_langinfo.c
/ref-add.sin
/ref-del.sin
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdlib.in.h
/streq.h
/unistd.in.h
/verify.h
/wchar.in.h
/wcrtomb.c
/wctype.in.h
/ctype.in.h
/errno.in.h
/dirent.in.h
/dirfd.c
/fnmatch.c
/fnmatch.in.h
/fnmatch_loop.c
/getlogin_r.c
/glob-libc.h
/glob.c
/glob.in.h
/mbsrtowcs-state.c
/mbsrtowcs.c
/memchr.c
/memchr.valgrind
/mempcpy.c
/string.in.h
/strnlen1.c
/strnlen1.h
/sys_stat.in.h
/time.in.h
/stdio-write.c
/stdio.in.h
